version: '3.3'
volumes:
  data:
services:
  db:
    build: ./db/.
    volumes:
      - /var/lib/mysql:/var/lib/mysql

  web:
    build: ./web/.
    container_name: web-server
    volumes:
        - /var/log/nginx:/var/log/nginx
        - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
        - "80:80"
    depends_on:
        - app

  app:
    build: ./app/.
    depends_on:
        - db
    environment:
        - DATABASE_HOST=db

